Repository mitre-atlas/atlas-data: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint yaml, check spelling and syntax, validate data

lint yaml:
  stage: test
  script:
  - pip install --progress-bar off -r tests/requirements.txt
  - yamllint -c tests/.yamllint .

check spelling and syntax:
  stage: test
  script:
  - pip install --progress-bar off -r tests/requirements.txt
  - pytest tests/test_syntax.py --tb=line --junitxml=report.xml -W error::UserWarning
  allow_failure:
    exit_codes:
    - 1

validate data:
  stage: test
  script:
  - pip install --progress-bar off -r tests/requirements.txt
  - pytest --tb=line --junitxml=report.xml -W default::UserWarning
  - yamllint -c tests/.yamllint .
  artifacts:
    when: always
    reports:
      junit: report.xml

Remove erroneous tag
  data/mitigations.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

added optional references to all objects
  dist/schemas/atlas_output_schema.json
  schemas/atlas_obj.py
Due: none

References into own schema
  dist/schemas/atlas_output_schema.json
  dist/schemas/atlas_website_case_study_schema.json
  schemas/atlas_obj.py
Due: none

Incorporate Hidden Layer mitigations feedback
  data/mitigations.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

Add mitigation terms to spelcheck
  tests/custom_words.txt
Due: check spelling and syntax

LLM techniques draft
  data/case-studies/AML.CS0004.yaml
  data/tactics.yaml
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

added pi subtechniques
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

fix id
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

fix errors
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

added new tactics to matrix
  data/matrix.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

fixed names
  data/tactics.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

updated CS00016 for new LLM techniques
  data/case-studies/AML.CS0016.yaml
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

descriptions, fixed title
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

Updating mitigations to include new category field and ML lifecycle tags
  data/mitigations.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

fixed attack id
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

Mitigation tags updates in CHANGELOG
  CHANGELOG.md
Due: none

Fix political harm name
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

Update ML supply chain software to reflect use of Colab, etc
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

Add develop capabilities
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

Updated description
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

Shorten subtechnique name
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

LLM techniques draft
  data/case-studies/AML.CS0004.yaml
  data/matrix.yaml
  data/tactics.yaml
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

updated CS00016 for new LLM techniques
  data/case-studies/AML.CS0016.yaml
  dist/ATLAS.yaml
Due: none

Changelog
  CHANGELOG.md
Due: none

Bump version and list new additions in changelog
  CHANGELOG.md
  data/data.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

Update harm name to political
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

id.me, colab, poison-gpt
  data/case-studies/AML.CS0017.yaml
  data/case-studies/AML.CS0018.yaml
  data/case-studies/AML.CS0019.yaml
  dist/ATLAS.yaml
Due: none

Formatting, adding a few tweaks
  data/case-studies/AML.CS0017.yaml
  data/case-studies/AML.CS0018.yaml
  data/case-studies/AML.CS0019.yaml
  dist/ATLAS.yaml
Due: none

Fix anchor
  data/case-studies/AML.CS0016.yaml
Due: none

Lost the output file
  dist/ATLAS.yaml
Due: none

updated LLM techniques
  data/case-studies/AML.CS0016.yaml
  dist/ATLAS.yaml
Due: none

trailing spaces
  data/techniques.yaml
Due: check spelling and syntax, validate data

updated LLM descriptions
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

Add support for YAML multiline
  tools/import_case_study_file.py
Due: none

2 more case studies, bing chat and chatgpt, changelog update
  CHANGELOG.md
  data/case-studies/AML.CS0020.yaml
  data/case-studies/AML.CS0021.yaml
  dist/ATLAS.yaml
Due: none

Change anchor name to fit technique name
  data/case-studies/AML.CS0016.yaml
  data/case-studies/AML.CS0020.yaml
  data/case-studies/AML.CS0021.yaml
  data/techniques.yaml
Due: check spelling and syntax, validate data

Edits, updated changelog
  CHANGELOG.md
  data/case-studies/AML.CS0017.yaml
  data/case-studies/AML.CS0019.yaml
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

Spellcheck
  data/case-studies/AML.CS0016.yaml
  data/case-studies/AML.CS0018.yaml
  data/techniques.yaml
  dist/ATLAS.yaml
  tests/custom_words.txt
Due: check spelling and syntax, validate data

Update docs
  CHANGELOG.md
  README.md
Due: none

Path conditions:
  lint yaml: any of: *.yaml, *.yml
  check spelling and syntax: any of: data/*.yaml, tests/*.py, tests/custom_words.txt, conftest.py
  validate data: any of: data/*.yaml, tests/*.py, conftest.py
