Repository mitre-atlas/atlas-data: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint yaml, check spelling and syntax, validate data

lint yaml:
  stage: test
  script:
  - pip install --progress-bar off -r tests/requirements.txt
  - yamllint -c tests/.yamllint .

check spelling and syntax:
  stage: test
  script:
  - pip install --progress-bar off -r tests/requirements.txt
  - pytest tests/test_syntax.py --tb=line --junitxml=report.xml -W error::UserWarning
  allow_failure:
    exit_codes:
    - 1

validate data:
  stage: test
  script:
  - pip install --progress-bar off -r tests/requirements.txt
  - pytest --tb=line --junitxml=report.xml -W default::UserWarning
  - yamllint -c tests/.yamllint .
  artifacts:
    when: always
    reports:
      junit: report.xml

Fix YAML
  data/case-studies/AML.CS0018.yaml
  dist/ATLAS.yaml
Due: none

Release 4.5.0: Large language model techniques and case studies, mitigations update
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  data/case-studies/AML.CS0004.yaml
  data/case-studies/AML.CS0016.yaml
  data/case-studies/AML.CS0017.yaml
  data/case-studies/AML.CS0018.yaml
  data/case-studies/AML.CS0019.yaml
  data/case-studies/AML.CS0020.yaml
  data/case-studies/AML.CS0021.yaml
  data/data.yaml
  data/matrix.yaml
  data/mitigations.yaml
  data/tactics.yaml
  data/techniques.yaml
  dist/ATLAS.yaml
  dist/schemas/atlas_output_schema.json
  dist/schemas/atlas_website_case_study_schema.json
  schemas/atlas_obj.py
  tests/custom_words.txt
  tools/import_case_study_file.py
Due: lint yaml, check spelling and syntax, validate data

Fix YAML
  data/case-studies/AML.CS0018.yaml
  data/case-studies/AML.CS0020.yaml
  data/case-studies/AML.CS0021.yaml
  dist/ATLAS.yaml
Due: none

Updates to PoisonGPT
  data/case-studies/AML.CS0019.yaml
  dist/ATLAS.yaml
Due: none

Fix typos
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

machine learning systems > artificial intelligence systems, add mitigations info
  README.md
Due: none

Marcus' mitigations updates, version bump
  CHANGELOG.md
  data/data.yaml
  data/mitigations.yaml
  dist/ATLAS.yaml
  tests/custom_words.txt
Due: check spelling and syntax, validate data

Release 4.5.1: Updates for mitigations and events, ATLAS fact sheet
  CHANGELOG.md
  README.md
  data/data.yaml
  data/mitigations.yaml
  data/techniques.yaml
  dist/ATLAS.yaml
  tests/custom_words.txt
Due: check spelling and syntax, validate data

Fix link
  CHANGELOG.md
Due: none

Fix typos
  data/case-studies/AML.CS0004.yaml
  data/case-studies/AML.CS0006.yaml
  data/case-studies/AML.CS0011.yaml
  data/case-studies/AML.CS0014.yaml
  data/case-studies/AML.CS0017.yaml
  data/case-studies/AML.CS0021.yaml
  data/tactics.yaml
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

Fix typos
  data/case-studies/AML.CS0012.yaml
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

name change
  README.md
  data/matrix.yaml
  dist/ATLAS.yaml
  dist/README.md
Due: check spelling and syntax, validate data

4.5.2: Minor fixes
  CHANGELOG.md
Due: none

Version bump to 4.5.2
  data/data.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

Release 4.5.2: minor fixes
  CHANGELOG.md
  README.md
  data/case-studies/AML.CS0012.yaml
  data/data.yaml
  data/matrix.yaml
  data/techniques.yaml
  dist/ATLAS.yaml
  dist/README.md
Due: check spelling and syntax, validate data

Typos
  data/tactics.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

Fixes
  data/tactics.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

Fix ATT&CK reference
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

Update from 4.5.2
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

Add created and modified dates
  data/mitigations.yaml
  data/tactics.yaml
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

Task 206: Replace Jinja templated links with calls to create_link function
  data/tactics.yaml
  data/techniques.yaml
  tools/create_matrix.py
Due: check spelling and syntax, validate data

Version 4.6.0
  CHANGELOG.md
  data/data.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

Release 4.6.0: Added created and modified dates
  CHANGELOG.md
  data/data.yaml
  data/mitigations.yaml
  data/tactics.yaml
  data/techniques.yaml
  dist/ATLAS.yaml
  tools/create_matrix.py
Due: check spelling and syntax, validate data

AML.CS0015 raw file was not templated
  data/case-studies/AML.CS0015.yaml
Due: none

GenAI content updates
  dist/ATLAS.yaml
Due: none

Update changelog for 4.7.0
  CHANGELOG.md
Due: none

Release 4.7.0: Generative AI update
  CHANGELOG.md
  data/case-studies/AML.CS0015.yaml
  dist/ATLAS.yaml
Due: none

Generated templated files
  data/case-studies/AML.CS0000.yaml
  data/case-studies/AML.CS0001.yaml
  data/case-studies/AML.CS0002.yaml
  data/case-studies/AML.CS0003.yaml
  data/case-studies/AML.CS0004.yaml
  data/case-studies/AML.CS0005.yaml
  data/case-studies/AML.CS0006.yaml
  data/case-studies/AML.CS0007.yaml
  data/case-studies/AML.CS0008.yaml
  data/case-studies/AML.CS0009.yaml
  data/case-studies/AML.CS0010.yaml
  data/case-studies/AML.CS0011.yaml
  data/case-studies/AML.CS0012.yaml
  data/case-studies/AML.CS0013.yaml
  data/case-studies/AML.CS0014.yaml
  data/case-studies/AML.CS0015.yaml
  data/case-studies/AML.CS0016.yaml
  data/case-studies/AML.CS0017.yaml
  data/case-studies/AML.CS0018.yaml
  data/case-studies/AML.CS0019.yaml
  data/case-studies/AML.CS0020.yaml
  data/case-studies/AML.CS0021.yaml
  data/case-studies/AML.CS0022.yaml
  data/case-studies/AML.CS0023.yaml
  data/case-studies/AML.CS0024.yaml
  data/case-studies/AML.CS0025.yaml
  data/data.yaml
  data/mitigations.yaml
  data/tactics.yaml
  data/techniques.yaml
Due: check spelling and syntax, validate data

feat: transfer learning mitre atlas technique
  dist/ATLAS.yaml
Due: none

Release 4.8.0: Zenity case study and techniques
  CHANGELOG.md
  data/case-studies/AML.CS0016.yaml
  data/case-studies/AML.CS0020.yaml
  data/case-studies/AML.CS0021.yaml
  data/case-studies/AML.CS0024.yaml
  data/case-studies/AML.CS0026.yaml
  data/data.yaml
  data/mitigations.yaml
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

Release 4.8.0: Zenity case study and techniques
  CHANGELOG.md
  data/case-studies/AML.CS0000.yaml
  data/case-studies/AML.CS0001.yaml
  data/case-studies/AML.CS0002.yaml
  data/case-studies/AML.CS0003.yaml
  data/case-studies/AML.CS0004.yaml
  data/case-studies/AML.CS0005.yaml
  data/case-studies/AML.CS0006.yaml
  data/case-studies/AML.CS0007.yaml
  data/case-studies/AML.CS0008.yaml
  data/case-studies/AML.CS0009.yaml
  data/case-studies/AML.CS0010.yaml
  data/case-studies/AML.CS0011.yaml
  data/case-studies/AML.CS0012.yaml
  data/case-studies/AML.CS0013.yaml
  data/case-studies/AML.CS0014.yaml
  data/case-studies/AML.CS0015.yaml
  data/case-studies/AML.CS0016.yaml
  data/case-studies/AML.CS0017.yaml
  data/case-studies/AML.CS0018.yaml
  data/case-studies/AML.CS0019.yaml
  data/case-studies/AML.CS0020.yaml
  data/case-studies/AML.CS0021.yaml
  data/case-studies/AML.CS0022.yaml
  data/case-studies/AML.CS0023.yaml
  data/case-studies/AML.CS0024.yaml
  data/case-studies/AML.CS0025.yaml
  data/case-studies/AML.CS0026.yaml
  data/data.yaml
  data/mitigations.yaml
  data/tactics.yaml
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

TTP and case study updates
  data/README.md
  data/case-studies/AML.CS0019.yaml
  data/data.yaml
  data/tactics.yaml
  data/techniques.yaml
Due: check spelling and syntax, validate data

updated TTPs, added case study
  data/case-studies/AML.CS0027.yaml
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

add C2 tactic, add case study
  data/case-studies/AML.CS0028.yaml
  data/matrix.yaml
  data/tactics.yaml
Due: check spelling and syntax, validate data

update techniques, regenerate matrix
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

update TTPs, add case study
  data/case-studies/AML.CS0020.yaml
  data/case-studies/AML.CS0028.yaml
  data/case-studies/AML.CS0029.yaml
  data/mitigations.yaml
  data/tactics.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

update TTPs, add case study
  data/case-studies/AML.CS0030.yaml
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

updated TTPs and mitigations
  data/mitigations.yaml
  data/techniques.yaml
  dist/ATLAS.yaml
Due: check spelling and syntax, validate data

Path conditions:
  lint yaml: any of: *.yaml, *.yml
  check spelling and syntax: any of: data/*.yaml, tests/*.py, tests/custom_words.txt, conftest.py
  validate data: any of: data/*.yaml, tests/*.py, conftest.py
